{% extends "web/base_web.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block contenido %}
<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>


<div class="row-fluid">
	<div class="span12 dgtic-panel">
		<header class="entry-header">
            <h1 class="entry-title">
                <a href="#" title="" rel="bookmark">Cambio de Contraseña</a>
            </h1>

            <div class="category-breadcrumb clearfix">
                <span class="home"><a href="/">Inicio</a>&nbsp;&nbsp;&gt;</span>
                <span class="home"><a href="/perfil_socio/{{ user.id }}">Perfil </a>&nbsp;&nbsp;&gt;</span>
                <span class="name"><a href="#">Contraseña Nueva</a></span>
            </div>
        </header>

		<div class="dgtic-panel-content">
            {% if form.errors %}
                <p class="errornote" style="color: #ff0000">
                {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </p>
            {% endif %}
            <br>
			<table>
				<tr>
					<td>{{ form.old_password.errors }}<label for="id_old_password" class="required">{% trans 'Old password' %}:</label></td>

                    <td>
                        <div class="password_new">
                            &nbsp;&nbsp;&nbsp;{{ form.old_password }}
                        </div>
                    </td>

				</tr>
            </table>
            <br>
            <table>
				<tr>
					<td>{{ form.new_password1.errors }}
						<label for="id_new_password1" class="required">{% trans 'New password' %}:</label></td>
						<td>
                            <div class="password_new">
                                &nbsp;&nbsp;&nbsp;{{ form.new_password1 }}
                            </div>
                        </td>
					</tr>
            </table>
            <br>
            <table>
					<tr>
						<td>{{ form.new_password2.errors }}
							<label for="id_new_password2" class="required">{% trans 'Confirme la nueva password' %}:</label></td>
							<td>
                                <div class="password_new">
                                    &nbsp;&nbsp;&nbsp;{{ form.new_password2 }}
                                </div>
							</td>
						</tr>

					</table>

					<br>
					<div class="submit-row">
                        <input type="submit" name="user-submit"  style="background: -webkit-linear-gradient(top, rgb(100, 172, 69), rgb(108, 161, 70));" value="Cambiar Contraseña" class="btn btn-primary" tabindex="103" />
					</div>

				</div>

			</div>
		</div>
    

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>
{% endblock contenido %}
