{% extends "administrador/base.html" %}

{% load staticfiles %}
  
    {% block extrahead %}   


        <link href="{% static "administrador/vendors/easypiechart/jquery.easy-pie-chart.css" %}" rel="stylesheet" media="screen">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{% static "administrador/vendors/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
        <script src="{% static "administrador/validate/jquery-1.10.2.min.js" %}"></script>


<!--[if IE 7]>
            <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
        <![endif]-->

        <link href="{% static "administrador/wizard/css/styles.css" %}" rel="stylesheet">
        <!--============j avascript===========-->
        <script src="{% static "administrador/wizard/js/jquery.validate.js" %}"></script>
        <script src="{% static "administrador/wizard/js/stepy.jquery.js" %}"></script>

        <!-- WIZZARD -->
        <script type="text/javascript">
            $(function () {
                /*==JQUERY STEPY==*/
                
                $('#stepy_form').stepy({
                    backLabel: 'Atras',
                    nextLabel: 'Siguiente',
                    errorImage: true,
                    block: true,
                    description: true,
                    legend: false,
                    titleClick: true,
                    titleTarget: '#top_tabby',
                    validate: true
                });

                $('#stepy_form').validate({
                    errorPlacement: function (error, element) {
                        $('#stepy_form div.stepy-error').append(error);
                    },
                    rules: {
                        'username': {
                                        required:true,
                                        maxlength: 30
                                      },
                        'password1': {
                                        required:true,
                                        minlength: 5
                                      }, 
                        'password2': {
                                        required:true,
                                        minlength: 5,
                                        equalTo: "#id_password1"
                                     },
                        'foto': 'required',
                        'nombre':  {
                                        required:true,
                                        maxlength: 50
                                      },
                        'apellido_paterno': {
                                        required:true,
                                        maxlength: 50
                                      },
                        'apellido_materno': {
                                        required:true,
                                        maxlength: 50
                                      },
                        'fecha_nacimiento': 'required',
                        'correo' : {
                                    required : true, 
                                    email    : true  
                                    },
                        'telefono': {
                                    required : true,
                                    number : true,
                                    maxlength: 15
                                    },
                        'celular': {
                                    required : true,
                                    number : true,
                                    maxlength: 15
                                    },
                        'localidad': {
                                    required : true
                                    },
                        'colonia': {
                                    required : true,
                                    maxlength: 30
                                    },
                        'calle': {
                                    required : true,
                                    maxlength: 30
                                },
                        'numero': {
                                    required : true,
                                    maxlength: 10
                                },
                        'codigo_postal': {
                                    required : true,
                                    maxlength: 10
                                        }        
                        
                    },
                    messages: {
                        'username': {
                            required: 'El usuario es requerido!'
                            
                        },
                        'password1': {
                            required: 'La contraseña es requerida!',
                            minlength: "La contraseña debe tener al menos 5 caracteres"
                        },
                        'password2': {
                            required: "La contraseña es requerida!",
                            minlength: "La contraseña debe tener al menos 5 caracteres",
                            equalTo: "Por favor, introduzca la misma contraseña que el anterior"
                        },
                        'foto':{
                          required:'La foto es requerida'
                        },
                        'nombre': {
                          required:'La nombre es requerido!'
                        },
                        'apellido_paterno': {
                          required:'El apellido paterno es requerido!'
                        },
                        'apellido_materno': {
                          required:'El apellido materno es requerido!'
                        },
                        'fecha_nacimiento': {
                          required:'La fecha de nacimiento es requerida!'
                        },
                        'correo': {
                            required : "El correo es requerido!",
                            email    : "Debe ingresar un correo valido"
                        },
                        'telefono': {
                            required: "El numero telefonico es requerido!",
                            number: "Debe ingresar solo digitos"
                        },
                        'celular': {
                            required: "El numero celular es requerido!",
                            number: "Debe ingresar solo digitos"
                        },
                        'localidad': {
                            required: "La localidad es requerida!"
                        },
                        'colonia': {
                            required: "La colonia es requerida!"
                        },
                        'calle': {
                            required: "La calle es requerida!"
                        },
                        'numero': {
                            required: "El numero es requerido!"
                        },
                        'codigo_postal': {
                            required: "El codigo postal es requerido"
                        }
                        
                    }
                });

               
            });
        </script>
        <script type="text/javascript">
        $(function(){
          $('#formulario1').validate({
            rules :{
              localidad_direccion : {
                    required : true //para validar campo vacio                    
                  }

                },

                messages : {
                  localidad_direccion : {
                    required : "La localidad es requerida!",
                    
                  }

                },
                //TEMINA VALIDACIONES

                //VENTANA MODAL PARA GUARDAR LOCALIDADES VIA AJAX
                submitHandler: function(form) {
                  $.ajax({
                   type: "POST",
                   url: "/agregar_localidad/",
               data: $("#formulario1").serialize(), // serializes the form's elements.
               success: function(response)
               {
                if(response.estatus=="True"){
                  document.getElementById("formulario1").reset();
                  $("#myModal").modal("hide");
                  document.getElementById('id_localidad').options[0]=new Option(response.nombre,response.id_localidad,"0");

                }
              }
            });
                }
              });    
        });
        </script>

        <!-- FORMATO DE dd/mm/año PARA EL DATE PICKER -->
        <script type="text/javascript">

        $(function(){
          $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',

          });
              });
        </script>

        <!--VALIDACION SI EL USUARIO EXISTE VIA AJAX-->
        <script type="text/javascript" language="javascript">

$(document).ajaxSend(function(event, xhr, settings) {

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
}); 



        $(document).ready(function() {

          $("#id_username").blur(function(event){          
           r=$('#id_username').val();
           if(r !=0){
            $.post( 
             "/validar_usuario/",  
             {q:$('#id_username').val()},
             function(data) {
              $('#results').html(data);
            }

            );
          }else{
            $('#disp').css('display','none');
          }
        });


          $( document ).ajaxStart( function() {
            $( '#spinner' ).show();       
          }).ajaxStop( function() {
            $( '#spinner' ).hide();
          });

          });
          </script>

          <!--Confirmar borrado de Agentes-->


          <script type="text/javascript">
          function borrar(id){            
              if (confirm("¿Seguro que desea desactivar al Agente de Ventas")) {
              // Respuesta afirmativa...
                    window.location.href = '/bloquear_agente/'+id;
                                    }
                                }

            function activar(id){            
              if (confirm("¿Seguro que desea activar al Agente de Ventas")) {
              // Respuesta afirmativa...
                    window.location.href = '/activar_agente/'+id;
                                    }
                                }
        </script>

        <script type="text/javascript">
            function editar(id, id_persona, id_direccion){    
                window.location='/editar_agente/'+id +' and '+ id_persona +' and '+ id_direccion;
            }
        </script>

        <script type="text/javascript">

            function imagen(id_agente){
                $.post( 
             "/consulta_detalle_agente/",  
             {q:id_agente},
             function(data){
             
                var valores = JSON.parse(data);//SE RECIBEN EL DATA Y SE PARSEA PARA PASARLO A UN JSON
                
                for(var i=0;i<valores.length;i++){//SE RECORRE LA VARIABLE DONDE SE ASIGNARON LOS DATOS
                    var imagen=valores[i]['imagen']
                    var nombre= "Nombre: "+ valores[i]['nombre'] +' '+ valores[i]['apellido_paterno']+' '+ valores[i]['apellido_materno'];
                    var fecha_registro="Fecha de registro en el sistema: "+valores[i]['fecha_de_alta'];                    
                    var fecha_nacimiento="Fecha de nacimiento: "+valores[i]['fecha_nacimiento'];
                    var correo = "Correo: " + valores[i]["correo"];                    
                    var telefono = "Telefono: " + valores[i]["telefono"];
                    var celular = "celular: " + valores[i]["celular"];
                    var localidad = "Localidad: " + valores[i]["localidad"];
                    var colonia = "Colonia: " + valores[i]["colonia"];
                    var calle = "Calle: " + valores[i]["calle"];
                    var numero = "Numero: " + valores[i]["numero"];
                    var codigo_postal = "Codigo postal: " + valores[i]["codigo_postal"];
                    var corte = "<a href='/corte_agente/"+valores[i]["id"]+"'>" + "CORTE <i class='icon-thumbs-up'></i>" + "</a>" ;
                    
                }  
            
            $('<img />', { 'src': 'http://localhost:8000/media/'+imagen, 'id': 'miImagen', 'data-src':'holder.js/260x180', 'alt':'260x180', 'style':'width: 80px; height: 50px;float:right;' }).appendTo('#imagen_agente');
            $('#nombre_agente').html(nombre);
            $('#fecha_registro').html(fecha_registro);
            $('#fecha_nacimiento').html(fecha_nacimiento);
            $('#correo').html(correo);
            $('#telefono').html(telefono);
            $('#celular').html(celular);
            $('#localidad').html(localidad);
            $('#Colonia').html(colonia);
            $('#calle').html(calle);
            $('#numero').html(numero);
            $('#codigo_postal').html(codigo_postal);
            $('#corte').html(corte);

            });

            }

            function ventas(id_usuario_agente, id_agente ){
                 $.post( 
             "/ventas_agente/",  
             {q:id_usuario_agente, agente:id_agente},
             function(data){
                
                var valores = JSON.parse(data);//SE RECIBEN EL DATA Y SE PARSEA PARA PASARLO A UN JSON
                for(var i=0;i<valores.length;i++){//SE RECORRE LA VARIABLE DONDE SE ASIGNARON LOS DATOS
                    
                    var espacios_vendidos= "Espacios Vendidos "+ valores[i]['contador'];
                    var total= "Total en Ventas "+ valores[i]['total'];
                    var pago_inTabasco= "Pago para Guatao: $ "+ valores[i]['pago_inTabasco'];
                    var pago_agente_ventas= "Pago para AV.: $ "+ valores[i]['pago_agente_ventas'];
                    var corte = "<a href='/corte_agente/"+id_agente+"'>" + "CORTE <i class='icon-thumbs-up'></i>" + "</a>" ;
                    
                }
                
                $('#espacios_vendidos').html(espacios_vendidos);
                $('#total').html(total);
                
                $('#pago_inTabasco').html(pago_inTabasco);
                $('#pago_agente_ventas').html(pago_agente_ventas);
                $('#corte').html(corte);  
            
            

            });
            }            

            function cerrar_detalle(){
                location.reload(); 
            }

        </script>
        <script type="text/javascript">

        function corte_general(){

    if (confirm("¿Seguro que desea hacer el corte general?")) {
              // Respuesta afirmativa...
              window.location.href = '/corte_general_agente/';
          }
      }
</script>

        </script>

        
    {% endblock extrahead %}

    {% block maincontent %}
    
        
                
                

                    {% if perms.inTabasco.add_agente_ventas%}
                    
                        
                    <div class="row-fluid">
                      <div class="span12">
                        <div class="stepy-widget">
                          <div class="widget-head clearfix bondi-blue">
                            <div id="top_tabby" class="pull-right">
                            </div>
                            <h3>Registro de Agentes</h3>
                          </div>
                          <div class="widget-container gray ">
                            <div class="form-container">
                              <form id="stepy_form"  method="POST" name="form_mapa" enctype="multipart/form-data" class=" form-horizontal">
                                <input type="hidden" id="agente" name="agente" value="agente">
                                {% csrf_token %}

                                {{ formulario.non_field_errors }}
                                {{ formulario_agente.non_field_errors }}
                                <fieldset title="Paso 1">
                                  <legend>Usuario</legend>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario.username.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario.username}}
                                    </div>
                                    <div id="results" style="position:relative;top:-90px;left:10px;"></div>

                                    <span id="spinner" style="display:none;position:relative;top:-30px;left:460px;"><img src="{% static "administrador/images/loader.gif" %}"></span>

                                    {{formulario.username.errors}}
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario.password1.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario.password1}}                                      
                                    </div>
                                    {{formulario.password1.errors}}   
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario.password2.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario.password2}}
                                    </div>
                                    {{formulario.password2.errors}}
                                  </div>
                                </fieldset>
                                <fieldset title="Paso 2">
                                  <legend>Datos Personales</legend>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.padre.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.padre}}
                                    </div>
                                    {{formulario_agente.padre.errors}}
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.foto.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.foto}}
                                    </div>
                                    {{formulario_agente.foto.errors}}
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.nombre.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.nombre}}
                                    </div>                      
                                    {{formulario_agente.nombre.errors}}
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.apellido_paterno.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.apellido_paterno}}
                                    </div>
                                    {{formulario_agente.apellido_paterno.errors}}                      
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.apellido_materno.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.apellido_materno}}
                                    </div> 
                                    {{formulario_agente.apellido_materno.errors}}                     
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.fecha_nacimiento.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.fecha_nacimiento}}
                                    </div>
                                    {{formulario_agente.fecha_nacimiento.errors}}                      
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.correo.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.correo}}
                                    </div>
                                    {{formulario_agente.correo.errors}}                      
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.telefono.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.telefono}}
                                    </div>
                                    {{formulario_agente.telefono.errors}}                    
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.celular.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.celular}}
                                    </div>
                                    {{formulario_agente.celular.errors}}                      
                                  </div>
                                  <div class="control-group">
                                    <!--<label class="control-label">{{formulario_agente.tipo_usuario.label_tag}}</label>-->
                                    <div class="controls">
                                      {{formulario_agente.tipo_usuario}}
                                    </div>
                                    {{formulario_agente.tipo_usuario.errors}}                      
                                  </div>
                                  <div class="control-group">
                                    <!--<label class="control-label">{{formulario_agente.status.label_tag}}</label>-->
                                    <div class="controls">
                                      {{formulario_agente.status}}
                                    </div>
                                    {{formulario_agente.status.errors}}                      
                                  </div>

                                </fieldset>
                                <fieldset title="Paso 3">
                                  <legend>Dirección</legend>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.localidad.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.localidad}}<a href="#myModal" data-toggle="modal"><i class="icon-plus"></i></a>
                                    </div>
                                    {{formulario_agente.localidad.errors}}
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.colonia.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.colonia}}
                                    </div>
                                    {{formulario_agente.colonia.errors}}
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.calle.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.calle}}
                                    </div>
                                    {{formulario_agente.calle.errors}}
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.numero.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.numero}}
                                    </div>
                                    {{formulario_agente.numero.errors}}
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label">{{formulario_agente.codigo_postal.label_tag}}</label>
                                    <div class="controls">
                                      {{formulario_agente.codigo_postal}}
                                    </div>
                                    {{formulario_agente.codigo_postal.errors}}
                                  </div>
                                </fieldset>
                                <fieldset title="Paso 4">
                                  <legend>Mapa de Ubicación</legend>
                                  <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                      {{formulario_agente.latitud}}
                                    </div>
                                    {{formulario_agente.latitud.errors}}                      
                                  </div>
                                  <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                     {{formulario_agente.longitud}}
                                    </div>
                                    {{formulario_agente.longitud.errors}}                      
                                  </div>
                                  <div id="map_canvas" style="width:550px!important; height:250px!important;"></div>
                                </fieldset>
                                <button type="submit" class="finish btn btn-extend"> Guardar!</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>                    



                    <div id="myModal" class="modal hide">
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close" type="button">&times;</button>
                            <h3>Agregar Localidad</h3>
                        </div>
                        <div class="modal-body">
                            <form id="formulario1"  method="POST" action="">
                                <input type="hidden" id="local" name="local" value="localidad">
                                    {% csrf_token %}
                                    <fieldset title="">                                  
                                        <div class="control-group">
                                            <label class="control-label" for="select01">Pertenece A</label>
                                            <div class="controls">
                                                <select id="padre" name="padre">
                                                  <option value="0">Elija una Opcion</option>
                                                  {% for p in localidades %}
                                                  <option value="{{p.id}}">{{p.nombre}}</option>
                                                  {% endfor %}
                                                </select>
                                            </div>                              
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Localidad</label>
                                            <div class="controls">
                                                <input class="input-xlarge focused" id="localidad_direccion" name="localidad_direccion" type="text">
                                            </div>
                                        </div>
                                    </fieldset>      
                                <input type="submit" id="guardar" class="btn btn-primary" value="Enviar" />
                            </form>
                        </div>
                   </div>

                   <!-- <div id="myModalMapa" class="modal hide" >
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close" type="button">&times;</button>
                            <h3>Mapa</h3>
                        </div>
                        <div class="modal-body">
                            <div id="map_canvas" style="width:550px!important; height:250px!important;"></div>
                        </div>
                   </div>-->

                   <div class="row-fluid">
                    <div class="span12">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Agentes de Ventas</div>
                                <div class="pull-right"><a href="#" onClick="corte_general()">Corte General</a>&nbsp &nbsp &nbsp &nbsp <span class="badge badge-info">{{agentes.count}}</span>

                                </div>
                            </div>
                            <div class="block-content collapse in">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Foto</th>
                                            <th>Nombre</th>
                                            <th>Tel.</th>
                                            <th>Numero Cel.</th>
                                            <th>Correo<th>
                                            <th>Status</th>
                                            <th>Ventas</th>
                                            <th>Editar</th>
                                            <th>Desactivar</th>
                                            <th>Activar</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if agentes %}
                                        {% for p in agentes %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                
                                                    <a href="#myModal2" data-toggle="modal" onClick="imagen({{p.id}})" class="">
                                                        <img data-src="holder.js/260x180" alt="260x180" style="width: 80px; height: 50px;" src="{{ MEDIA_URL }}{{p.nombre.imagen}}" alt="image">
                                                    </a>
                                                
                                            </td>
                                            <td>{{p.nombre.nombre}} {{p.nombre.apellido_paterno}} {{p.nombre.apellido_materno}}</td>
                                            <td>{{p.nombre.telefono}}</td>
                                            <td>{{p.nombre.celular}}</td>
                                            <td>{{p.nombre.correo}}</td>
                                            <td></td>
                                            <td>{% if p.status.status == "A"%} <span class="label label-success">Activo</span> {% elif p.status.status == "P"%} <span class="label label-info">Pagado</span> {% elif p.status.status == "I" %} <span class="label label-important">Desactivo</span> {% endif %}</td>
                                            <td><a href="#ventas" onClick="ventas({{p.usuario.id}},{{p.id}})" data-toggle="modal"><span class="label label-inverse">Ventas del Dia</span></a></td>                                               
                                            <td><a href="#" onclick="editar({{p.id}},{{p.nombre.id}},{{p.direccion.id}})" ><i class="icon-edit"></i></a></td>
                                            <td>{% if p.status.status == "A" %}<a onclick="borrar({{p.id}})" href="#"><i class="icon-remove">{% endif %}</i></a></td>
                                            <td>{% if p.status.status == "I" %}<a onclick="activar({{p.id}})" href="#"><i class="icon-ok">{% endif %}</i></a></td>
                                             
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td><h3>Sin Agentes</h3></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                    
                </div>


                <div id="myModal2" class="modal hide">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" onclick="cerrar_detalle()" type="button">&times;</button>
                        <h3>Detalles del Agente de Ventas</h3>
                    </div>
                    <div class="modal-body">
                        <p><div id="imagen_agente"></div></p>
                        <p><div id="nombre_agente"></div></p>
                        <p><div id="fecha_registro"></div></p>
                        <p><div id="fecha_nacimiento"></div></p>
                        <p><div id="correo"></div></p>
                        <p><div id="telefono"></div></p>
                        <p><div id="celular"></div></p>
                        <p><div id="localidad"></div></p>
                        <p><div id="Colonia"></div></p>
                        <p><div id="calle"></div></p>
                        <p><div id="numero"></div></p>
                        <p><div id="codigo_postal"></div></p>
                        
                    </div>
                </div>

                <div id="ventas" class="modal hide">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" onclick="cerrar_detalle()" type="button">&times;</button>
                        <h3>Detalle de las Ventas del Dia</h3>
                    </div>
                    <div class="modal-body">
                        <div id="espacios_vendidos"></div>
                        <div id="total"></div>
                        
                        <div id="pago_inTabasco"></div>
                        <div id="pago_agente_ventas"></div>
                        
                        <p><div id="corte"></div></p>
                    </div>
                </div>

                {% endif %}
                    
                
          
            {% endblock maincontent %}
        
        
        {% block extralibs %}
        <!--/.fluid-container-->
        
        
        <script src="{% static "administrador/vendors/easypiechart/jquery.easy-pie-chart.js" %}"></script>
       
        <script src="{% static "administrador/vendors/bootstrap-datepicker.js"%}"></script>


         <!--/.fluid-container-->
        <link href="{% static "administrador/vendors/datepicker.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "administrador/vendors/uniform.default.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "administrador/vendors/chosen.min.css" %}" rel="stylesheet" media="screen">
        <!--<script src="{% static "administrador/vendors/jquery-1.9.1.js" %}"></script>-->
        <link href="{% static "administrador/vendors/wysiwyg/bootstrap-wysihtml5.css" %}" rel="stylesheet" media="screen">

        <script src="{% static "administrador/bootstrap/js/bootstrap.js" %}"></script>
        <script src="{% static "administrador/vendors/jquery.uniform.min.js" %}"></script>
        <script src="{% static "administrador/vendors/chosen.jquery.min.js" %}"></script>        
        <script src="{% static "administrador/vendors/bootstrap-datepicker.js" %}"></script>

        <script src="{% static "administrador/vendors/wysiwyg/wysihtml5-0.3.0.js" %}"></script>
        <script src="{% static "administrador/vendors/wysiwyg/bootstrap-wysihtml5.js" %}"></script>

        <script src="{% static "administrador/vendors/wizard/jquery.bootstrap.wizard.min.js" %}"></script>

        <script src="{% static "administrador/assets/scripts.js" %}"></script>
        <script>
        $(function() {
            $(".datepicker").datepicker();
            $(".uniform_on").uniform();
            $(".chzn-select").chosen();
            $('.textarea').wysihtml5();

            $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index+1;
                var $percent = ($current/$total) * 100;
                $('#rootwizard').find('.bar').css({width:$percent+'%'});
                // If it's the last tab then hide the last button and show the finish instead
                if($current >= $total) {
                    $('#rootwizard').find('.pager .next').hide();
                    $('#rootwizard').find('.pager .finish').show();
                    $('#rootwizard').find('.pager .finish').removeClass('disabled');
                } else {
                    $('#rootwizard').find('.pager .next').show();
                    $('#rootwizard').find('.pager .finish').hide();
                }
            }});
            $('#rootwizard .finish').click(function() {
                alert('Finished!, Starting over!');
                $('#rootwizard').find("a[href*='tab1']").trigger('click');
            });
        });
        </script>
        {% endblock extralibs %}
    

