{% extends "web/base_web.html" %}
{% load staticfiles %}


{% block contenido %}

<header class="entry-header">

        <h1 class="entry-title">
            <a href="" rel="bookmark">Recordar Usuario</a>
        </h1>

    </header>


<form action="/recordar_usuario/" method="post" id="commentform" class="comment-form" enctype="multipart/form-data">
{% csrf_token %}
     <p class="comment-form-author">
        <label for="Nombre">
            <span class="required">
                *
            </span>
        </label>
        <input id="correo" maxlength="100" size="50" name="correo" placeholder="Correo" type="text">
         {% if correo != None %}
            {{ msj }}
         {% endif %}
    </p>
    <br><br><br><br><br>

    <div class="item-image">
        <a id="contact-owner-button" class="contact-owner button"  style="background-color: #ff0000;" href="/recordar/">Atras</a>
    </div>
    <div class="item-image">
    <input type="submit" value="Enviar"  id="contact-owner-button" class="contact-owner button">
    </div>
</form>


{% endblock contenido %}
{% block scripts %}
 <script src="{% static "administrador/validate/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "administrador/wizard/js/jquery.validate.js" %}"></script>
<script src="{% static "administrador/wizard/js/stepy.jquery.js" %}"></script>

<script type="text/javascript">
        $().ready(function(){
            $('#commentform').validate({
            rules : {
              correo : {
                required : true,
                email    : true
              }
            },
            messages : {
              correo : {
                required : "<label style='color:red;width: 250px;'>El correo es requerido!</label>",
                email    : "<label style='color:red;width: 250px;'>Debe ingresar un correo valido</label>"
              }

            }
          });
          });
        </script>

{% endblock scripts %}