{% extends "web/base_web.html" %}
{% block title %} RECORDAR USUARIO O CONRASEÑA{%   endblock title %}


{% block contenido %}

<header class="entry-header">

        <h1 class="entry-title">
            <a href="" rel="bookmark">¿Por qué tienes problemas para iniciar sesión?</a>
        </h1>

    </header>


<form action="">
    <br><br>
    <label class="checkbox-inline">
      <input type="radio" name="radio" value="usuario"> Recordar Usuario<br><br>
      <input type="radio" name="radio" value="password"> Recordar Contraseña
    </label>
    <br><br>

    <div class="item-image">
        <a id="contact-owner-button" class="contact-owner button"  style="background-color: #ff0000;" href="/">Atras</a>
    </div>
    <div class="item-image">
    <a id="contact-owner-button" class="contact-owner button" href="#" onclick="siguiente()">Siguiente</a>
    </div>
</form>


{% endblock contenido %}
{% block scripts %}
<script>
    function siguiente(){
        var radios = document.getElementsByName('radio');

        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                resultado = radios[i].value;
                if (resultado == 'usuario'){
                    window.location.href = '/recordar_usuario/';

                }
                else if(resultado == 'password'){
                    window.location.href = '/recordar_password/';

                }
                break;
            }
        }
    }
</script>

{% endblock scripts %}