{% extends "web/base_web.html" %}

{% block title %} {% if categoria %} {{ categoria.categoria }} {% else %}  {% endif %} {% endblock title %}
{% block contenido %}



                <article id="post-item-category">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <span>
                                {% if categoria %}
                                    {{ categoria.categoria }}
                                {% else %}
                                    Resultado
                                {% endif %}
                            </span>
                        </h1>
                        <div class="category-breadcrumb clearfix">
                            <span class="home"><a href="/">Inicio</a>&nbsp;&nbsp;&gt;</span>
                            <span class="name"><a href="#">
                                {% if categoria %}
                                    {{ categoria.categoria | title }}
                                {% else %}
                                    Resultado
                                {% endif %}
                            </a></span>
                        </div>
                    </header>

                    <div class="entry-content">
                        {{ categoria.descripcion }}
	                </div>


                    <hr />

                    <div class="category-items clearfix">
                        <div class="dir-sorting clearfix">
                            <div class="label">
                                Mostrando: {{ cantidad_resultado }} Espacios
                            </div>
                            <form>
                                <div class="count">
                                    <label for="pagination">De:</label>
                                    <select name="pagination" id="sorting-pagination" onchange = "window.location.href = '?filtrado=' + this.value">
                                        <option value="5">Seleccione</option>
                                        <option value="5" {% if filtrado == '5'%}selected{% endif %}>5</option>
                                        <option value="10" {% if filtrado == '10'%}selected{% endif %}>10</option>
                                        <option value="20" {% if filtrado == '20'%}selected{% endif %}>20</option>
                                        <option value="50" {% if filtrado == '50'%}selected{% endif %}>50</option>
                                        <option value="100" {% if filtrado == '100'%}selected{% endif %}>100</option>
                                    </select>
                                </div>
                            </form>
                        </div>




                        {% for espacio in espacios %}
                        <ul class="items">
                            {% if forloop.counter == 1 %}
                                {% if editar_espacio %}
                                    <div class="item-image">
                                    <a id="contact-owner-button" data-fancybox-type="iframe" class="contact-owner button register various" href="/editar_espacio_socio/{{espacio.id}}">Editar</a>
                                    </div>
                                {% endif %}
                                <li class="item clear administrator featured">
                                    <div class="thumbnail">
                                        {% for imagen in espacio.cat_imagenes_set.all %}
                                        <img src="{{ MEDIA_URL }}{{ imagen.imagen }}" alt="Item thumbnail" style="width: 100px;height: 100px;" />
                                        {% endfor %}
                                        <div class="comment-count">{{ espacio.num_visitas }}</div>
                                    </div>

                                    <div class="description">
                                        <h3>
                                            <a href="/detalle/{{ espacio.direccion.localidad.nombre }}/{% if categoria %}{{ categoria.categoria }}{% else %}resultado{% endif %}/{{ espacio.id }}">{{ espacio.nombre | title }}</a>
                                        </h3>
                                        <p>{{ espacio.descripcion_corta }}</p>

                                    </div>
                                </li>
                            {% else %}
                                {% if editar_espacio %}
                                    <div class="item-image">
                                    <a id="contact-owner-button" data-fancybox-type="iframe" class="contact-owner button register various" href="/editar_espacio_socio/{{espacio.id}}">Editar</a>
                                    </div>
                                {% endif %}
                                <li class="item clear administrator">
                                    <div class="thumbnail">
                                        {% for imagen in espacio.cat_imagenes_set.all %}
                                        <img src="{{ MEDIA_URL }}{{ imagen.imagen }}" alt="Item thumbnail" style="width: 100px;height: 100px;" />
                                        {% endfor %}
                                        <div class="comment-count">{{ espacio.num_visitas }}</div>
                                    </div>

                                    <div class="description">
                                        <h3>
                                            <a href="/detalle/{{ espacio.direccion.localidad.nombre }}/0/{{ espacio.id }}">{{ espacio.nombre | title }}</a>
                                        </h3>
                                        <p>{{ espacio.descripcion_corta }}</p>

                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                        {% endfor %}
                    </div>
                    <nav class="paginate-links">
                        <div class="page_nav">
                            {% if espacios.has_previous %}
                                <a class="page-numbers prev" href="#" onClick="parent.location='?page={{ espacios.previous_page_number }}&filtrado={{filtrado}}'" >Atras</a>
                            {% endif %}
                            <span class="current">
                                Pagina {{ espacios.number }} de {{ espacios.paginator.num_pages }}.
                            </span>
                            {% if espacios.has_next %}
                                <a class="page-numbers next" href="#" onClick="parent.location='?page={{ espacios.next_page_number }}&filtrado={{filtrado}}'">Siguiente</a>
                            {% endif %}

                        </div>
	                </nav>
                </article><!-- /#post-item-category -->

{% endblock contenido %}