{% extends "movil/base.html" %}
{% block contenido %}
    <div class="ventana">
        <div class="ventanaHeader">
        ¿Cuanto quieres ganar hoy?
            <i onclick="window.location.href = '{% url 'inTabasco_.apps.movil.views.nuevo_socio' 0 %}';" class="right fa fa-plus fa-2x"></i>
        </div>
        <div class="ventanaBody">
            <form id="formulario1" class="form-horizontal" method="POST" name="form_mapa" enctype="multipart/form-data">
                <input type="hidden" id="espacio" name="espacio" value="espacio">
                {% csrf_token %}
                {{ formulario_socio }}
                {{ formulario_persona_espacio_socio }}
                {{ formulario_espacio_socio }}
                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>
{% endblock %}